---
layout: archive
---
<div class="home-text" style="text-align:justify">
Hello everyone and welcome to my website. I am a Computer Science graduate who enjoys learning and writing about a variety of subjects.
You'll find posts about subjects like the History of United States, Sociology, Computer Science and even Criminology. I also like playing and talking
about video games. Feel free to browse my website. Thanks for stopping by.
</div>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_videogame_post | default: "Recent Video Game Post" }}</h3>
{% assign post = site.videogames.last %}
{% include archive-single.html sort_by='date' sort_order='reverse' %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_historyofusa_post | default: "Recent History of USA Post" }}</h3>
{% assign post = site.historyofusa.last %}
{% include archive-single.html sort_by='date' sort_order='reverse' %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_sociology_post | default: "Recent Sociology Post" }}</h3>
{% assign post = site.sociology.last %}
{% include archive-single.html sort_by='date' sort_order='reverse' %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_criminology_post | default: "Recent Criminology Post" }}</h3>
{% assign post = site.criminology.last %}
{% include archive-single.html sort_by='date' sort_order='reverse' %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_genderstudies_post | default: "Recent Gender Studies Post" }}</h3>
{% assign post = site.genderstudies.last %}
{% include archive-single.html sort_by='date' sort_order='reverse' %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_cs_post | default: "Recent Computer Science Post" }}</h3>
{% assign post = site.computerscience.last %}
{% include archive-single.html sort_by='date' sort_order='reverse' %}
